@font-face {
  font-family: "a-otf-ryumin-pr6n";
  src: url("./font/A-OTF-RyuminPr6-Bold.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-ExBold.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-Heavy.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-Light.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-Medium.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-Regular.otf") format("otf"),
    url("./font/A-OTF-RyuminPr6-Ultra.otf") format("otf");
}

@font-face {
  font-family: "Times New Roman";
  src: url("./font/Times\ New\ Roman.ttf") format("ttf"),
    url("./font/Times\ New\ Roman\ Bold.ttf") format("ttf"),
    url("./font/Times\ New\ Roman\ Bold\ Italic.ttf") format("ttf"),
    url("./font/Times\ New\ Roman\ Italic.ttf") format("ttf");
}

body {
  font-family: "a-otf-ryumin-pr6n", "Times New Roman", serif;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

small {
  font-size: 10px;
}

.w-100 {
  width: 100% !important;
  flex-basis: 100% !important;
}

/* <--header--> */

header {
  background-image: url(./img/header-bg.jpg);
  background-size: cover;
  padding: 45px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  width: 150px;
  margin-left: 50px;
}

.header__text {
  width: 55%;
  margin-left: auto;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.header__btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.header__btn a {
  width: 100%;
  display: block;
}

.header__btn a img {
  width: 90%;
}

/* <--footer--> */

footer {
  background-image: url(./img/footer-bg.jpg);
  background-size: cover;
  padding: 45px 25px;
}

.footer__wrapper {
  width: 75%;
  margin-left: auto;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

.footer__wrapper p {
  font-size: 1vw;
  line-height: 24px;
}

.footer__company h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer__license {
  margin: 0 20px;
}

.footer__call p {
  font-size: 18px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color: #dcdddd;
}

nav ul {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

nav li {
  width: 100%;
  text-align: center;
  border-left: 1px solid #fff;
}

nav li a {
  display: block;
  width: 100%;
  font-size: 20px;
}

/* <--top--> */
.top-img {
  position: relative;
}

.svgSample1 {
  position: absolute;
  bottom: 0;
  left: -20%;
  width: 100%;
  height: 35px;
}

.svgSample1 text {
  font-size: 12px;
  font-family: Meiryo UI;
  stroke: #ffffff;
  fill: #330033;
  text-anchor: middle;
  dominant-baseline: alphabetic;
}

.svgSample1 > svg > use:nth-of-type(1) {
  stroke-width: 5px;
  paint-order: stroke;
  stroke-linejoin: round;
}

.svgSample1 > svg > use:nth-of-type(2) {
  stroke-width: 0;
}

.documentRequest {
  position: relative;
}

.documentRequest__time__wrapper {
  display: flex;
  align-items: center;
  padding: 50px 0 50px 50px;
}

.documentRequest__time h3 span {
  font-size: 2rem;
}

.documentRequest__time h3 span b {
  font-size: 4rem;
}

.documentRequest__time p {
  text-align: right;
  width: 370px;
}

.documentRequest > img {
  width: 60%;
  padding: 50px 0 50px 50px;
}

.documentRequest__route {
  width: 300px;
}

.documentRequest__route p {
  text-align: right;
}

.documentRequest__wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
}

.documentRequest__time__wrapper img {
  margin-bottom: 15px;
}

.top-appearance {
  position: absolute;
  width: 45%;
  top: -50px;
  right: 0;
  text-align: right;
}

.top-appearance img {
  height: 100vh;
}

.top-appearance p {
  margin-top: 0 !important;
  font-size: 1rem !important;
}

.documentRequest__wrapper h4 {
  line-height: 3rem;
}

.documentRequest__wrapper p,
.eqrede__content__text p {
  font-size: 20px;
  line-height: 40px;
  margin: 25px 0;
}

.documentRequest__text img {
  width: 50%;
}

.documentRequest__text + img {
  width: 45%;
  height: 45vh;
}

.eqrede__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 15% 0 5%;
}

.eqrede__content img {
  width: 400px;
}

.eqrede__content__text {
  width: 50%;
}

.eqrede__content__text img {
  width: 50%;
}

.grey-bg {
  background-color: #dcdddd;
  height: 5vh;
}

.contents {
  background-color: #fff;
}

.contents__list {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.contents__list__item {
  display: flex;
  width: 45%;
  margin: 10px;
}

.title {
  padding: 25px 0;
  background-color: #212645;
  color: #fff;
  text-align: center;
  min-width: 45%;
}

.title p {
  margin: 30px 0 40px;
}

.title a {
  color: #fff;
}

.contents__list__item img {
  min-width: 55%;
}

.contactList {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
  width: 80%;
  margin: 0 auto;
}

.contactList img {
  max-width: 300px;
  width: 33%;
}

.border {
  border-bottom: 1px solid #000;
}

.disclaimer {
  padding: 25px 0;
  width: 90%;
  margin: 0 auto;
}

.disclaimer p {
  font-size: 12px;
}

/* <--design--> */

.designContent {
  padding: 50px 0;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.designContent__text {
  margin: 50px 0;
  font-size: 20px;
  line-height: 40px;
}

.entrance {
  width: 60%;
}

.entrance img {
  margin-bottom: 25px;
}

/* <--access--> */
.accessContent {
  padding: 50px 0 150px 0;
  text-align: center;
}

.accessContent h4 {
  letter-spacing: 10px;
}

.accessContent__text {
  margin: 50px 0;
  font-size: 20px;
  line-height: 40px;
}

.accessContentItem {
  margin-top: 150px;
}

.accessContentItem h4 {
  margin-bottom: 50px;
}

.accessContentItem p {
  margin-bottom: 50px;
}

.accessContentItem img {
  width: 100%;
}

/* <--location--> */

.city {
  margin: 30px 0 50px;
  text-align: center;
}

.city__title {
  margin-bottom: 30px;
}

.city__title h4 {
  letter-spacing: 6px;
}

.city__text {
  font-size: 20px;
  line-height: 40px;
}

.city__wrapper {
  display: flex;
  margin: 30px 0;
}

.city__contents {
  width: 50%;
  padding: 0 10px;
}

.city__contents + img {
  width: 50%;
  padding: 0 10px;
}

.city__bussiness {
  margin-bottom: 30px;
}

.city__bussiness h4 {
  margin-bottom: 10px;
}

.city__bussiness > p {
  text-align: left;
  padding-top: 10px;
  font-size: 14px;
}

.city__bussiness__description {
  padding: 5px 0;
  border-bottom: 1px solid #000;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
}

.city__bussiness__description + p,
.city__redevelopment__item p {
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.city__redevelopment {
  display: flex;
  justify-content: space-between;
}

.city__redevelopment__item {
  flex-basis: 48%;
  padding-top: 20px;
}

.city__redevelopment__item img {
  padding-bottom: 10px;
}

.city-contentsList {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.city-contentsList__item {
  flex-basis: 24%;
  margin-bottom: 150px;
}

.city-contentsList__item > p {
  margin-top: 10px;
}

.city-contentsList__item .smallTitle {
  font-size: 13px;
  text-align: center;
}

.lifeinformation {
  padding-bottom: 100px;
}

/* <--plan--> */
.floorPlan {
  width: 80%;
  margin: 100px auto;
  text-align: center;
}

.floorPlan h4 {
  letter-spacing: 8px;
}

.floorPlan__list {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.floorPlan__list img {
  width: 45%;
}

.floorPlan__list .left {
  width: 55%;
}

.floorPlan__list .right {
  width: 40%;
}

.floorPlan__overview {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.floorPlan__overview > p {
  letter-spacing: 4px;
  font-size: 20px;
}

.floorPlan__overview .row p {
  font-size: 14px;
  line-height: 20px;
}

.row {
  border-bottom: 1px solid #000;
  display: flex;
  padding: 3px 0;
}

.row:first-of-type {
  border-top: 1px solid #000;
  margin-top: 10px;
}

.row .overview-title {
  flex-basis: 25%;
}

.row .overview-content {
  flex-basis: 70%;
}

/* <--equipment--> */
.kitchen,
.bathroom,
.sanitary_lavatory,
.others,
.structure_security {
  margin: 50px auto;
  width: 80%;
}

.kitchen h4,
.bathroom h4,
.sanitary_lavatory h4,
.others h4,
.structure_security h4 {
  text-align: center;
  padding-bottom: 10px;
}

.sanitary_lavatory h4 span,
.structure_security h4 span {
  font-size: 1.5rem;
  padding: 0 5px;
}

.kitchen__wrapper,
.bathroom__wrapper,
.sanitary_lavatory__wrapper,
.others__wrapper {
  border-top: 1px solid #000;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.kitchen__contents {
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.kitchen__wrapper > img {
  width: 30%;
  padding-left: 20px;
}

.kitchen__contents__item {
  margin-bottom: 30px;
  flex-basis: 31%;
}

.kitchen__contents__item p,
.bathroom__contents__item p,
.sanitary_lavatory__wrapper p,
.others__wrapper p {
  font-size: 14px;
  line-height: 20px;
}

.content-title {
  text-align: center;
  font-size: 1rem !important;
  padding: 10px 0;
}

.bathroom__wrapper > img {
  width: 45%;
  padding-right: 100px;
}

.bathroom__contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bathroom__contents__item {
  flex-basis: 35%;
}

.toilet-content {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
}

.toilet-content__list {
  flex-basis: 45%;
}

.wash-basin-content {
  flex-basis: 55%;
  display: flex;
  justify-content: space-between;
}

.wash-basin-content__list__item {
  display: flex;
  justify-content: space-between;
}

.wash-basin-content__list__left {
  flex-basis: 35%;
}

.wash-basin-content__list__right {
  flex-basis: 60%;
}

.wash-basin-content__list__item {
  padding-bottom: 30px;
}

.wash-basin-content__list__item img {
  width: 50%;
  padding-right: 10px;
}

.others__wrapper__left {
  display: flex;
  justify-content: space-between;
  flex-basis: 60%;
}

.others__wrapper__right {
  display: flex;
  justify-content: space-between;
  flex-basis: 38%;
}

.others__wrapper__list {
  flex-basis: 48%;
}

.others__wrapper__list__item {
  padding-bottom: 20px;
}

.structure_security img {
  padding-bottom: 50px;
}
